[submodule "vim/vim.symlink/bundle/slurper"]
	path = vim/vim.symlink/bundle/slurper
	url = https://github.com/rodpl/vim-slurper.git
[submodule "vim/vim.symlink/bundle/Python-Syntax"]
	path = vim/vim.symlink/bundle/Python-Syntax
	url = https://github.com/vim-scripts/Python-Syntax.git
[submodule "vim/vim.symlink/bundle/aftercolors"]
	path = vim/vim.symlink/bundle/aftercolors
	url = https://github.com/vim-scripts/AfterColors.vim.git
[submodule "vim/vim.symlink/bundle/blogit"]
	path = vim/vim.symlink/bundle/blogit
	url = http://git.symlink.me/pub/romain/blogit.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/dotnet"]
	path = vim/vim.symlink/bundle/dotnet
	url = https://github.com/rodpl/vim-dotnet.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/nerdcommenter"]
	path = vim/vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/pandoc"]
	path = vim/vim.symlink/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/vim.symlink/bundle/snipmate"]
	path = vim/vim.symlink/bundle/snipmate
	url = https://github.com/vim-scripts/snipMate.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundle/vibrantink"]
	path = vim/vim.symlink/bundle/vibrantink
	url = https://github.com/vim-scripts/vibrantink.git
[submodule "vim/vim.symlink/bundle/visincr"]
	path = vim/vim.symlink/bundle/visincr
	url = https://github.com/vim-scripts/VisIncr.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/vividchalk"]
	path = vim/vim.symlink/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/vim.symlink/bundle/xml"]
	path = vim/vim.symlink/bundle/xml
	url = https://github.com/othree/xml.vim.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/zencoding"]
	path = vim/vim.symlink/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
    ignore = dirty
	branch = master
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-git"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-hg"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-svn"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-svn
	url = https://github.com/JeremySkinner/posh-svn.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/dbext"]
	path = vim/vim.symlink/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/sqlutilities"]
	path = vim/vim.symlink/bundle/sqlutilities
	url = https://github.com/vim-scripts/SQLUtilities.git
[submodule "vim/vim.symlink/bundle/html5"]
	path = vim/vim.symlink/bundle/html5
	url = https://github.com/othree/html5.vim.git
	branch = master
