.DS_Store
*.swp
*.un~
*.pyc
*.pyo
*.clixml
.vs/
*.user
_ReSharper.*
vim/vim.symlink/doc/tags
powershell/WindowsPowerShell.symlink/environment.ps1
vim/vim.symlink/.netrwhist
vim/vim.symlink/spell/
vimperator/vimperator.symlink/info/
bin/bin.symlink/OmniSharp
powershell/PowerShell.symlink/TabExpansion.xml
powershell/PowerShell.symlink/Modules/
emacs/spacemacs.d.symlink/.spacemacs.env
