*.pyc
*.pyo
*.clixml
.vs/
*.user
_ReSharper.*
vim/vim.symlink/doc/tags
powershell/WindowsPowerShell.symlink/environment.ps1
vim/vim.symlink/.netrwhist
vim/vim.symlink/spell/
vimperator/vimperator.symlink/info/
