[submodule "vim/vim.symlink/bundle/vibrantink"]
	path = vim/vim.symlink/bundle/vibrantink
	url = https://github.com/vim-scripts/vibrantink.git
[submodule "vim/vim.symlink/bundle/visincr"]
	path = vim/vim.symlink/bundle/visincr
	url = https://github.com/vim-scripts/VisIncr.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/vividchalk"]
	path = vim/vim.symlink/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/vim.symlink/bundle/xml"]
	path = vim/vim.symlink/bundle/xml
	url = https://github.com/othree/xml.vim.git
    ignore = dirty
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-git"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-hg"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-svn"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-svn
	url = https://github.com/JeremySkinner/posh-svn.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
	branch = master
