[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-git"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-hg"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-hg
	url = https://github.com/JeremySkinner/posh-hg.git
[submodule "powershell/WindowsPowerShell.symlink/Modules/posh-svn"]
	path = powershell/WindowsPowerShell.symlink/Modules/posh-svn
	url = https://github.com/JeremySkinner/posh-svn.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
	branch = master
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
