<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="ag" />
  <package id="binroot" />
  <package id="curl" />
  <package id="git" />
  <package id="gittfs" />
  <package id="hg" />
  <package id="python2" />
  <package id="ruby" />
  <package id="svn" />
  <package id="nodejs.install"
           installArguments='INSTALLDIR="C:\tools\nodejs\"'
           />
</packages>
